<div class="card hide animated fadeIn" id="cliente-dados-adicionais">
  <div class="card-image">
    <div class="opt-background" style="background-size: initial;">
    </div>
    <span class="card-title">Adicionais</span>
  </div>
  <div class="card-content p-0">
    <div class="tabs-vertical">
      <ul class="tabs">

        <li class="tab">
          <p class="green white-text"><i class='small material-icons right'>done_all</i> Cadastro </p>
        </li>

        <li class="tab">
          <p class="blue white-text"><i class='small material-icons right'>done</i> Ativo </p>
        </li>

        <li><div class="divider p-b-5 bg-color"></div></li>

        <li class="tab">
          <p class="cyan white-text"><i class='small material-icons right'>clear</i> Não Aprovado </p>
        </li>

        <% if cliente.pendencias_no_serasa > 0 %>
          <li class="tab">
            <p class="red white-text"><i class='small material-icons right'>block</i> Pendências no Serasa </p>
          </li>
        <% end %>
        
      </ul>
    </div>
  </div>
</div>
