<div class="card-panel p-t-0 p-b-70 p-l-30 p-r-30">
  <div class="row m-b-0">
    <div class="valign-wrapper">
      <div class="col s6 valign">
        <h1>Clientes</h1>
      </div>
      <div class="col s6 valign right-align">
        <%= link_to_new new_cliente_path if can? :manage, :cliente %>
      </div>
    </div>
  </div>

  <table id="clientes-table" class="highlight bordered" data-source="<%= clientes_path(format: :json) %>">
    <thead>
      <tr>
        <th width="7%">Ativo <i class="material-icons right hide datatables-hr-filter">subject</i> </th>
        <th width="13%">Pré-Cadastro <i class="material-icons right hide datatables-hr-filter">subject</i> </th>
        <th width="13%">CPF/CNPJ <i class="material-icons right hide datatables-hr-filter">subject</i> </th>
        <th width="20%">Nome <i class="material-icons right hide datatables-hr-filter">subject</i> </th>
        <th width="15%">Apelido <i class="material-icons right hide datatables-hr-filter">subject</i> </th>
        <th width="15%">Fictício <i class="material-icons right hide datatables-hr-filter">subject</i> </th>
        <th width="10%">Cidade <i class="material-icons right hide datatables-hr-filter">subject</i> </th>
        <th width="7%">UF <i class="material-icons right hide datatables-hr-filter">subject</i> </th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
