<div class="card-panel p-t-0 p-b-70 p-l-30 p-r-30">
  <div class="row m-b-0">
    <div class="valign-wrapper">
      <div class="col s12 valign">
        <h1>Relatórios</h1>
      </div>
    </div>
  </div>
</div>
