<div id="cliente_modal" class="modal bottom-sheet modal-grande"></div>

<!-- Modals -->
<div id="endereco_modal" class="modal bottom-sheet modal-grande"></div>
<div id="telefone_modal" class="modal bottom-sheet modal-grande"></div>
<div id="email_modal" class="modal bottom-sheet modal-grande"></div>
<div id="fazenda_modal" class="modal bottom-sheet modal-grande"></div>
<div id="cliente_banco_modal" class="modal bottom-sheet modal-grande"></div>
<div id="referencia_modal" class="modal bottom-sheet modal-grande"></div>
<div id="lancar_autorizado_modal" class="modal bottom-sheet modal-grande"></div>
<div id="raca_modal" class="modal bottom-sheet modal-grande"></div>
<div id="empresa_modal" class="modal bottom-sheet modal-grande"></div>

<div id="banco_modal" class="modal"></div>
<div id="alerta_modal" class="modal bottom-sheet modal-grande"></div>
<div id="alerta_comentario_modal" class="modal bottom-sheet modal-grande"></div>
<!-- Modals -->

<div class="row">
  <div class="col s12 m2">
    <div class="card">
      <div class="card-image">
        <div class="opt-background">
        </div>
        <span class="card-title">Opções</span>
      </div>
      <div class="card-content p-0">
        <div class="tabs-vertical" id="clientes-tabs">
          <ul class="tabs">
            <li class="tab">
              <a class="waves-effect" href="#cliente-pesquisar"><i class='small material-icons right'>search</i> Pesquisar </a>
            </li>
            <li class="tab disabled">
              <a href="#cliente-visualizar"><i class='small material-icons right'>visibility</i> Visualizar </a>
            </li>
            <li><div class="divider"></div></li>
            <li class="tab disabled">
              <a href="#cliente-alertas"><i class='small material-icons right'>error_outline</i> Alertas </a>
            </li>
            <li class="tab disabled">
              <a href="#cliente-contatos"><i class='small material-icons right'>message</i> Contatos </a>
            </li>
            <li class="tab disabled">
              <a href="#cliente-relatorios"><i class='small material-icons right'>assessment</i> Relatórios </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div id="cliente-adicionais">
    </div>

  </div>

  <div class="col s12 m10">

    <div id="cliente-pesquisar" class="tab-content animated fadeIn">
      <%= render partial: "pesquisar" %>
    </div>
    <div id="cliente-visualizar" class="tab-content animated fadeIn">
      <%#= render partial: "form" %>
    </div>
    <div id="cliente-alertas" class="tab-content animated fadeIn">
      <%#= render partial: "alertas" %>
    </div>
    <div id="cliente-contatos" class="tab-content animated fadeIn">
      <%= render partial: "contatos" %>
    </div>
    <div id="cliente-relatorios" class="tab-content animated fadeIn">
      <%= render partial: "relatorios" %>
    </div>

  </div>
</div>
