<!-- <div>
  <%#= link_to_new new_cliente_endereco_path, true, "btn-100" if can? :manage, :endereco %>
</div> -->

  <div class="row m-b-0 p-b-20">
    <div class="col s12">
      <%= link_to_new new_cliente_endereco_path, true, "", "Novo Endereço" if can? :manage, :endereco %>
    </div>
  </div>


<table id="enderecos-table" class="highlight bordered" data-source="<%= cliente_enderecos_path(@cliente_endereco, format: :json) %>" data-cliente-endereco="<%= @cliente_endereco %>">
  <thead>
    <tr>
      <th width="">Tipo</th>
      <th width="">Logradouro</th>
      <th width="">Numero</th>
      <th width="">Complemento</th>
      <th width="">Bairro</th>
      <th width="">CEP</th>
      <th width="">Cx. Postal</th>
      <th width="">Cidade</th>
      <th width="">UF</th>
      <th width="">Ativo</th>
      <th width="">Primário</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
