<div class="row m-b-0 p-b-20">
  <div class="col s12">
    <%= link_to_new new_cliente_endereco_path, true, "", "Novo Endereço" if can? :manage, :endereco %>
  </div>
</div>

<table id="enderecos-table" class="highlight bordered" data-source="<%= cliente_enderecos_path(@cliente_endereco, format: :json) %>" data-cliente-endereco="<%= @cliente_endereco %>">
  <thead>
    <tr>
      <th width="10%">Tipo</th>
      <th width="15%">Logradouro</th>
      <th width="10%">Numero</th>
      <th width="10%">Complemento</th>
      <th width="10%">Bairro</th>
      <th width="10%">CEP</th>
      <th width="10%">Cx. Postal</th>
      <th width="10%">Cidade</th>
      <th width="5%">UF</th>
      <th width="5%">Ativo</th>
      <th width="5%">Primário</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
