<div class="p-t-0 paginate_left">
  <table id="enderecos-table" class="highlight bordered" data-source="<%= cliente_enderecos_path(@cliente_endereco, format: :json) %>" data-cliente-endereco="<%= @cliente_endereco %>">
    <thead>
      <tr>
        <th width="7%">Tipo <i class="material-icons right datatables-hr-filter">visibility</i> </th>
        <th width="15%">Logradouro <i class="material-icons right datatables-hr-filter">visibility</i> </th>
        <th width="8%">Numero <i class="material-icons right datatables-hr-filter">visibility</i> </th>
        <th width="11%">Complemento <i class="material-icons right datatables-hr-filter">visibility</i> </th>
        <th width="9%">Bairro <i class="material-icons right datatables-hr-filter">visibility</i> </th>
        <th width="9%">CEP <i class="material-icons right datatables-hr-filter">visibility</i> </th>
        <th width="9%">Cx. Postal <i class="material-icons right datatables-hr-filter">visibility</i> </th>
        <th width="9%">Cidade <i class="material-icons right datatables-hr-filter">visibility</i> </th>
        <th width="7%">UF <i class="material-icons right datatables-hr-filter">visibility</i> </th>
        <th width="7%">Ativo <i class="material-icons right datatables-hr-filter">visibility</i> </th>
        <th width="9%">Primário <i class="material-icons right datatables-hr-filter">visibility</i> </th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>

  <div class="row m-b-0 m-t-30">
    <div class="valign-wrapper">
      <div class="col s12 valign right-align">
        <%= link_to_new new_cliente_endereco_path, true, "", "Novo Endereço" if can? :manage, :endereco %>
      </div>
    </div>
  </div>
</div>
