<div class="card p-t-0 p-b-70 p-l-30 p-r-30">

  <div id="canal_modal" class="modal bottom-sheet modal-grande"></div>

  <div class="row m-b-0">
    <div class="valign-wrapper">
      <div class="col s6 valign">
        <h1>Canais</h1>
      </div>
      <div class="col s6 valign right-align">
        <%= link_to_new new_canal_path if can? :manage, :canal %>
      </div>
    </div>
  </div>
  <table id="canais-table" class="highlight bordered" data-source="<%= canais_path(format: :json) %>">
    <thead>
      <tr>
        <th width="100%">Nome <%= filtro_dt %> </th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>

</div>
