<div class="card p-t-0 p-b-70 p-l-30 p-r-30">

  <div id="subtipo_modal" class="modal bottom-sheet modal-grande"></div>

  <div class="row m-b-0">
    <div class="valign-wrapper">
      <div class="col s6 valign">
        <h3>Subtipos</h3>
      </div>
      <div class="col s6 valign right-align">
        <%= link_to_new new_subtipo_path if can? :manage, :subtipo %>
      </div>
    </div>
  </div>
  <table id="subtipos-table" class="highlight bordered" data-source="<%= subtipos_path(format: :json) %>">
    <thead>
      <tr>
        <th width="20%">Código <%= filtro_dt %> </th>
        <th width="80%">Nome <%= filtro_dt %> </th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>

</div>
