<div class="card p-t-15 p-b-70 p-l-30 p-r-30 m-b-0 m-t-0">

  <table id="leilao_eventos-table" class="highlight bordered" data-source="<%= leilao_eventos_path(format: :json) %>">
    <thead>
      <tr>
        <th width="50%">Nome</th>
        <th width="25%">Data Início</th>
        <th width="25%">Data Fim</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>

</div>

<script type="text/javascript">
  $(document).off("dblclick", "#leilao_eventos-table tr[id^=leilao_evento]");
  $(document).on("dblclick", "#leilao_eventos-table tr[id^=leilao_evento]", function(){
    let id_hidden_input = $(this).attr("id");
    let $id = $("#leilao_leilao_evento_id");

    let modal = $("#leilao_evento_modal");
    let nome_input = $("#leilao_leilao_evento_nome");
    let nome_label = $("label[for='leilao_leilao_evento_nome']");

    let $row = $(this).closest("tr");
    let $nome = $row.find("td:nth-child(1)");

    $id.val(id_hidden_input.replace("leilao_evento_", ""));

    $.each($nome, function() {
      nome_input.val($nome.text());
    });

    nome_label.addClass("active");
    $("#limpa_evento").addClass("active");
    $("#salvar_leilao").prop("disabled", false)
    modal.closeModal();
  });
</script>
