<div class="card p-t-0 p-b-70 p-l-30 p-r-30">

  <div id="raca_modal" class="modal bottom-sheet modal-grande"></div>

  <div class="row m-b-0">
    <div class="valign-wrapper">
      <div class="col s6 valign">
        <h1>Raças</h1>
      </div>
      <div class="col s6 valign right-align">
        <%= link_to_new new_raca_path if can? :manage, :raca %>
      </div>
    </div>
  </div>
  <table id="racas-table" class="highlight bordered" data-source="<%= racas_path(format: :json) %>">
    <thead>
      <tr>
        <th width="60%">Raça <%= filtro_dt %> </th>
        <th width="40%">Espécie <%= filtro_dt %> </th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>

</div>
