<div class="card p-t-0 p-b-70 p-l-30 p-r-30">

  <div id="cidade_modal" class="modal bottom-sheet modal-grande"></div>

  <div class="row m-b-0">
    <div class="valign-wrapper">
      <div class="col s6 valign">
        <h1>Cidades</h1>
      </div>
      <div class="col s6 valign right-align">
        <%= link_to_new new_cidade_path if can? :manage, :cidade %>
      </div>
    </div>
  </div>
  <table id="cidades-table" class="highlight bordered" data-source="<%= cidades_path(format: :json) %>">
    <thead>
      <tr>
        <th width="30%">Nome <i class="material-icons right datatables-hr-filter">visibility</i> </th>
        <th width="30%">Estado <i class="material-icons right datatables-hr-filter">visibility</i> </th>
        <th width="10%">Criado em <i class="material-icons right datatables-hr-filter">visibility</i> </th>
        <th width="10%">Criado por <i class="material-icons right datatables-hr-filter">visibility</i> </th>
        <th width="10%">Alterado em <i class="material-icons right datatables-hr-filter">visibility</i> </th>
        <th width="10%">Alterado por <i class="material-icons right datatables-hr-filter">visibility</i> </th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>

</div>
