.opt-background {
  background-image: url(opt-background.png);
  min-height: 5em;
  background-size: cover;
  background-repeat: no-repeat;
}

#cliente-dados-adicionais {
  cursor: default;
}

.fieldset_50 {
  float: left;
  width: 50%;
}
