.dataTables_wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.dataTables_length {
  width: 8.33333%;
  margin-left: auto;
  left: auto;
  right: auto;
  float: left;
}

.dataTables_filter {
  width: 16.66667%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.dataTables_info {
  margin-top: 2em;
  float: left;
}

.dataTables_paginate {
  margin-top: 2em;
  float: right;
}

.dataTables_processing {
  position: absolute;
  top: 15%;
  left: 50%;
  width: 80px;
  height: 80px;
  margin-top: -40px;
  margin-left: -40px;
}

.sorting_disabled {
  cursor: default;
}

.sorting, .sorting_desc, .sorting_asc {
  cursor: pointer;
  *cursor: hand;
  background-repeat: no-repeat;
  background-position: center right;
}

.sorting_desc {
  background-image: image-url("arrow_up.png")
}

.sorting_asc {
  background-image: image-url("arrow_down.png")
}

.dataTables_info {
  text-decoration: none;
  text-align: center;
  letter-spacing: .5px;
  cursor: default;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  line-height: 36px;
}

.paginate_button {
  margin-left: 0.5em;

  text-decoration: none;
  text-align: center;
  letter-spacing: .5px;
  cursor: pointer;

  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 2rem;
  padding-top: 0px;
  padding-right: 2rem;
  padding-bottom: 0px;
  padding-left: 2rem;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
}

span a.paginate_button {
  text-decoration: none;
  color: #fff;
  background-color: #0097a7;
  text-align: center;
  letter-spacing: .5px;
  cursor: pointer;

  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 2rem;
  padding-top: 0px;
  padding-right: 2rem;
  padding-bottom: 0px;
  padding-left: 2rem;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
}

span a.paginate_button:hover {
    background-color: #00aec1;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
