.dataTables_wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.dataTables_length {
  width: 8.33333%;
  margin-left: auto;
  left: auto;
  right: auto;
  float: left;
}

.dataTables_filter {
  width: 16.66667%;
  margin-left: auto;
  left: auto;
  right: auto;
}

.dataTables_info {
  margin-top: 2em;
  float: left;
}

.dataTables_paginate {
  margin-top: 2em;
  float: right;
}

.paginate_left .dataTables_paginate {
  margin-top: 2em;
  float: left;
}

// .dataTables_processing {
//   position: absolute;
//   top: 15%;
//   left: 50%;
//   width: 80px;
//   height: 80px;
//   margin-top: -40px;
//   margin-left: -40px;
// }

.dataTables_processing {
    position: absolute;
    width: 60%;
    height: 10%;
    background: rgba(200, 200, 200, 0.4);
    left: 25%;
    margin-top: 5%;
    text-align: center;
    line-height: 10;
    border: 2px groove rgba(200, 200, 200, 0.4)
}

.sorting_disabled {
  cursor: default;
}

.sorting, .sorting_desc, .sorting_asc, .filter, .nofilter {
  cursor: pointer;
  *cursor: hand;
  background-repeat: no-repeat;
  background-position: center right;
}

.sorting_desc {
  background-image: image-url("arrow_up.png")
}

.sorting_asc {
  background-image: image-url("arrow_down.png")
}

.filter {
  background-image: image-url("filter.png")
}

.nofilter {
  background-image: image-url("nofilter.png")
}

.dataTables_info {
  text-decoration: none;
  text-align: center;
  letter-spacing: .5px;
  cursor: default;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  line-height: 36px;
}

.paginate_button {
  margin-left: 0.5em;

  text-decoration: none;
  text-align: center;
  letter-spacing: .5px;
  cursor: pointer;

  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 2rem;
  padding-top: 0px;
  padding-right: 2rem;
  padding-bottom: 0px;
  padding-left: 2rem;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
}

span a.paginate_button {
  text-decoration: none;
  color: #fff;
  background-color: #0097a7;
  text-align: center;
  letter-spacing: .5px;
  cursor: pointer;

  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 2rem;
  padding-top: 0px;
  padding-right: 2rem;
  padding-bottom: 0px;
  padding-left: 2rem;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
}

span a.paginate_button:hover {
    background-color: #00aec1;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.dataTable td {
  cursor: default;
}

// Context Menu
.ui-widget-header {
  position: relative;
  margin: 0px;
  padding: 3px 1em 3px 1.7em;
  cursor: default;
  min-height: 0;
  // background: #283593;
  background-image: image-url("search.png");
  background-repeat: no-repeat;
  background-position: center center;
  // color: #fff;
  // letter-spacing: 10px;
  border-radius: 2px;
}
.ui-widget-content {
  transition: box-shadow .25s;
  padding: 20px;
  margin: 0.5rem 0 1rem 0;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
}
.ui-widget {
    font-size: 1.1em;
}
.ui-menu-icons {
    position: relative;
}
.ui-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    outline: none;
}
.ui-helper-hidden {
    display: none;
}
.ui-menu-icons .ui-menu-item {
    padding-left: 2em;
    transition: background-color .25s ease;
}
.ui-menu-icons .ui-menu-item:hover {
    background: #e8eaf6;
}
.ui-menu .ui-menu-item {
    position: relative;
    margin: 0;
    padding: 3px 1em 3px 2em;
    cursor: pointer;
    min-height: 0;
}
.ui-menu .ui-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: .5em;
    margin: auto 0;
}
.ui-icon {
    width: 16px;
    height: 16px;
}
.ui-icon {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
}

//
//
//
//
//
//
//
//
//
//
//

.select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle
}
.select2 {
    width: calc(100% - 45px) !important;
    margin-left: 45px;
}

.yadcf-filter-wrapper {
  display: none;
  position: absolute;
  background: red;
  border-radius: 5px;
  padding: 10px;
  padding-bottom: 0;
  width: 250px;
  margin-top: -3%;
}

.datatables-hr-filter {
  font-size: 15px !important;
}

.dataTable th:hover .datatables-hr-filter {
  display: block !important;
}
