$elite: #e3f2fd !default;
$corte: #ffebee;
$outro: #f3e5f5;
$shopping: #fffde7 !default;

tr.elite {
  background-color: $elite;
}
tr.elite:hover {
  background-color: darken($elite, 10%) !important;
}

tr.corte {
  background-color: $corte;
}
tr.corte:hover {
  background-color: darken($corte, 10%) !important;
}

tr.outro {
  background-color: $outro;
}
tr.outro:hover {
  background-color: darken($outro, 10%) !important;
}

tr.shopping {
  background-color: $shopping;
}
tr.shopping:hover {
  background-color: darken($shopping, 10%) !important;
}
