<div class="card p-t-0 p-b-70 p-l-30 p-r-30">

  <div id="estado_modal" class="modal bottom-sheet modal-grande"></div>

  <div class="row m-b-0">
    <div class="valign-wrapper">
      <div class="col s6 valign">
        <h1>Estados</h1>
      </div>
      <div class="col s6 valign right-align">
        <%= link_to_new new_estado_path if can? :manage, :estado %>
      </div>
    </div>
  </div>
  <table id="estados-table" class="highlight bordered" data-source="<%= estados_path(format: :json) %>">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Sigla</th>
        <th>Criado em</th>
        <th>Criado por</th>
        <% if can? :manage, :estado %>
          <th>Opções</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>

</div>
