<div class="footer-copyright">
  <div class="container">
  © 2016 Thales Miguel
  <a class="grey-text text-lighten-4 right" href="http://centralleiloes.com.br" target="_blank">Central Leilões</a>
  </div>
</div>
