<% if user_signed_in? %>
  <nav>
    <div class="nav-wrapper">
      <a style="display: inline-block;" href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
      <a style="display: inline-block;" href="#" data-activates="slide-out" class="button-collapse brand-logo">Sistema<span class='smaller'>Central</span></a>
      <p id= "leilao_atual" style="display: inline-block; float: right; margin: 0; padding-right: 15px; cursor: default;">
        <%= leilao_selecionado.nome if leilao_selecionado %>
      </p>

      <%= render partial: "layouts/menu" %>
    </div>
  </nav>

<% end %>
